
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1498213722175'); /* IE9*/
  src: url('iconfont.eot?t=1498213722175#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1498213722175') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1498213722175') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1498213722175#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-random:before { content: "\e777"; }

.icon-pre:before { content: "\e630"; }

.icon-loop:before { content: "\e616"; }

.icon-dis:before { content: "\e7fd"; }

.icon-voice:before { content: "\e623"; }

.icon-music:before { content: "\e66a"; }

.icon-play:before { content: "\e6cd"; }

.icon-pause:before { content: "\e645"; }

.icon-hide:before { content: "\e6b7"; }

.icon-lrc:before { content: "\e60a"; }

.icon-next:before { content: "\e600"; }


/*-------自定义调节大小---------*/
.iconfont {
  display: inline-block;
  color: 	#F5F5DC;
}

.iconfont:hover{
  /*font-weight: bold;*/
  transform: scale(0.9);
  /*text-shadow: 3px 3px 3px yellow;*/
}

.icon-pause:before {
  display: inline-block;
  font-size: 35px;
}

.icon-pre:before {
  font-size: 28px;
}

.icon-voice:before {
  font-size: 20px;
  font-weight: bold;
}

.icon-music:before {
  font-size: 30px;
}

.icon-play:before {
  display: inline-block;
  font-size: 40px;
  color: #FAFAD2;
}

.icon-loop:before {
  font-size: 20px;
}

.icon-random:before {
  font-size: 20px;
}

.icon-lrc:before {
  font-size: 30px;
}

.icon-next:before {
  font-size: 28px;
}

.icon-dis:before {
  font-size: 30px;
}
